.home-outer {
  width: 100%;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-food-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
