:root {
    /* Colors */
    --primary-color: #CBA41A;
    --primary-color-dark: #5F616E;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #f4f4f4;
    --text-color: #161616;
    --text-color-white: #ffffff;
    --sample-color: #9d9d9b61;
    --bg: #1f1f1fc0;
    --bg-secondary: #5a59599c;

    /* Font Sizes */
    --font-xsmall: 12px;
    --font-small: 14px;
    --font-medium: 16px;
    --font-large: 20px;
    --font-xlarge: 24px;
  }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}